@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

header,
footer {
  background-color: #1f2937;
}

header {
  padding: 1em 10em;
}

.logo-and-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 24px;
  color: #f9faf8;
}

nav > a {
  padding: 10px;

}

.hero-section {
  display: flex;
  padding-top: 7em;
  padding-bottom: 7em;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  max-width: 450px;
}

.hero-text > h2 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #e5e7eb;
}

.hero-text > p,
a {
  font-size: 18px;
  font-weight: 300;
  color: #e5e7eb;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #f9faf8;
  background-color: #3882f6;
  padding: 7px 35px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}

img {
  width: 450px;
  height: 250px;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5em;
}

.info-section > h3 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  padding-top: 1.5em;
  padding-bottom: .5em;
}

.boxes {
  display: flex;
  margin-bottom: 1em;
}

.box {
  max-width: 150px;
  padding: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.blue-box {
  width: 150px;
  height: 150px;
  border: #3882f6 solid 3.5px;
  border-radius: 12px;
  margin-bottom: .5em;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 7em 14.5em;
}

.quote-section > h4 {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: -5px;
}

.quote-section > h3 {
  text-align: right;
  font-size: 20px;
  padding-right: 2em;
  font-weight: 700;
}

.call-section {
  background-color: #3882f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em 8em;
  border-radius: 8px;
  margin: 5em 10em;
}

.call-text > h3 {
  color: #f9faf8;
  font-size: 20px;
  font-weight: 500;
}

.call-text > p {
  color: #e5e7eb;
}

.call-section > button {
  border: #f9faf8 solid 2px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-weight: 300;
  color: #e5e7eb;
}

footer > p > a:link,
footer > p > a:visited,
footer > p > a:hover,
footer > p > a:active {
  text-decoration: underline;
}